/* ---------------------------------------- HOME ---------------------------------------- */

.home {
    padding: 3.5rem 0 2rem;
}

.home_container {
    position: relative;
    row-gap: 2rem;
}

.home_img {
    width: 200px;
    justify-self: center;
}

.home_title {
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-1);
}

.home_description {
    margin-bottom: var(--mb-2-5);
}

.home_social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
}

.home_social_follow {
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
}

.home_social_follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -45%;
    top: 45%;
}

.home_social_links {
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home_social_link {
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
}

.home_social_link:hover {
    transform: translateX(.25rem);
}